<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="C:\Users\mkata\OneDrive\Dokumenti\GitHub\Forgiving-sins\static\styles\index.css">
    <script src="index.js"></script>
    <title>Document</title>
</head>
<body>
   
<div style="box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;" class="naslov">

    <br>
    <h1 style="font-size: 100px; ">Onaj koji oprašta</h1> 
     <h3>Ovdje će ti svi grijesi biti oprošteni</h3>

    <textarea type="text"></textarea>
    <br>
    <button style = "margin-top: 50px; margin-left: 800px; margin-bottom: 50px;" class="button-28" role="button">Forgive me</button>
    
</div> 

<div class="main">
    <div class="grid-container">
  <div class="grid-item">
    <h4>Free Plan</h4>
    <div class="tekst">
    <p style= "font-size: 16px;"> Free for trying thing out</p>
    </div>
    <button style = "background-colour: #747577; margin-top: 50px;" class="button-28" role="button">Current Plan</button>
  </div>

   <div class="grid-item">
    <h4>Monthly Plan</h4>
    <div class="tekst">
    <p style= "font-size: 16px;"> For you and your soul, with unlimited confeses and all monthly pro plan features.</p>
    </div>
    <button style = "background-colour: #747577; margin-top: 50px;" class="button-28" role="button">Current Plan</button>
  </div>

   <div class="grid-item">
    <h4>Premium Plan</h4>
    <div class="tekst">
    <p style= "font-size: 16px;"> For you finding peace with your soul and free pass to heaven all monthly plan features included</p>
    </div>
    <button style = "background-colour: #747577; margin-top: 50px;" class="button-28" role="button">Current Plan</button>
  </div>
 

</div>

</div>






</body>

</html>

