<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="index.css">
    <script src="index.js"></script>
    <title>Document</title>
</head>
<body>
    
<div class="centriraj">
    
    <h1 style="font-size: 100px;">Onaj koji oprašta</h1>
</div> 

<div class="centriraj_ostalo">
    <h3>Ovdje će ti svi grijesi biti oprošteni</h3>
    <input id="provjeri" type="text" >
    <button onclick="myFunction()" >Odriješi me</button>
    <h1 id="kurac"></h1>
   
    
</div>


<h4 style="text-align: center;">Oprošteno ti je <div id="counter">0</div>  grijeha:</h4>

</body>



</html>

