<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/login.css">
    <title>Login</title>
</head>
<body>

    
      

            <form method="POST">

            <h1>{{action}}</h1>
            <label for="username">Username</label>
            <br>
            <input type="username" placeholder="Username" id="username" name="username">
            <br>
            <br>
            <br>
            <label for="password">Lozinka</label>
            <br>
            <input type="password" placeholder="Lozinka" id="password" name="password">
                    
            <button class="button-28" style=" margin-top: 10px; margin-left: 90%;" placeholder="text" type="submit">Done</button>
            <p>{{desc}}</p>
            </form>
            
     

 

    
</body>
</html>