*
{
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
}

body
{
    background-color: #B2B2B2;

}


.naslov
{
    margin-left: -10px;
    margin-right: -10px;
    margin-top: -70px;
    border-radius: 20px;
    text-align: center;
    background-color: #DFE8CC;

}

.main
{
    position: relative;
    padding: 100px;
    text-align: center;
    height: 1000px;

}


.upisnica
{
    position: relative;
    padding: 100%;
    width: 400px;
    border-radius: 20px;
    background-color: rgb(170, 0, 0);

}

textarea {
    resize: none;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    width: 1000px;
    height: 500px;
    border-radius: 5px;
    font-size: 30px;
    padding: 50px;

}


.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;

  column-gap: 30px;
  padding: 10px;
}


.grid-item {

  font-size: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  background-color: #DFE8CC;
  text-align: center;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;

}


.tekst
{
    width: 100%;
    text-align: left;
    height: 100px;
}

.rectangle {
  width: 100%;
  height: 30px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.grid5
{

  display: grid;
  grid-template-columns:auto auto auto auto ;
  text-align: center;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  border-radius: 5px;
  background-color: #ffffff;

}



.grid5-item {
  padding: 20px;
  border-right: 2px solid #1A1A1A;
  font-size: 30px;

  text-align: center;



}



i
{
  font-size: 20px;
  color: #808080;
}



.bottom
{
  width: 100%;
  background-color: #1d1d1d;
  height: 100px;
}


.QA
{


  text-align: left;
  background-color: white;

  padding: 20px;
  margin-top: 250px;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
}


a
{
  text-decoration: none;
  color: black;
}

.button-28 {

  appearance: none;
  background-color: transparent;
  border: 2px solid #1A1A1A;
  border-radius: 15px;
  box-sizing: border-box;
  color: #3B3B3B;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  min-height: 60px;
  min-width: 0;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;

  will-change: transform;
}

.button-28:disabled {
  pointer-events: none;
}

.button-28:hover {
  color: #fff;
  background-color: #E28743;

  transform: translateY(-2px);
}

.button-28:active {
  box-shadow: none;
  transform: translateY(0);
}


.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  font-size: 15px;

  min-width: 160px;
  border-radius: 10px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.desc {
  padding: 15px;
  text-align: center;
}




.collapsible {
  background-color: white;
  color: rgb(0, 0, 0);
  cursor: pointer;
  padding: 5px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover {

}

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;

}
