*
{
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
}

body
{
    background-color: rgb(71, 71, 71);
    color: aliceblue;
    margin-top: 300px;
}

.centriraj
{
   
    position: relative;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;

}

h1
{
    text-align: center;
}


.centriraj_ostalo
{
    position: relative;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}